### https://raw.github.com/github/gitignore/320a610b9ffba3ff28166370b6dd9f73096e34b7/Processing.gitignore

.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

build/
